
body {
    background: limegreen;
    font-family: sans-serif;
}
.welcome {
    background: lightgreen;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    border-radius:4px;
    height:12em;
    padding-top:1em;
}

 p {
    background: white;
    margin: auto;
    width:80%;
    border-radius:4px;
    height: 10em;
    padding:.5em 1.15em;
}