$primary-color: limegreen;
$secondary-color: lightgreen;
$tertiary-color: yellow;
$quaternary-color: darkgreen;
$quinary-color: green;
$light: #fff;
$dark: #242424;
body {
    background: $primary-color;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    color: $tertiary-color;
}
.welcome {
    background: $secondary-color;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    border-radius:4px;
    height:12em;
    padding-top:1em;
}

.welcome p {
    background: $light;
    margin: auto;
    width:80%;
    border-radius:4px;
    height: 10em;
    padding:.5em 1.15em;
}
.btn-row {
    text-align: center;
}
.row button:nth-child(odd){
    background: $tertiary-color;
    color: $dark;
}
.row button:nth-child(even){
    background: $quaternary-color;
    color: $secondary-color;
}
.rules-card {
    background: $secondary-color;
    position: relative;
    bottom: 125%;
    z-index:1;
    border: 1em solid $quinary-color;
    border-radius: 4px;
}
.close-card {
    float:right;
    margin: .5em 1em 0 0;
}
.rules-card p {
    margin: .75em;
}

.scoreboard {
    width: 25vw;
    height: 35vh;
    background: $secondary-color;
    border: 1em solid $quaternary-color;
    border-radius:4px;
    
}
.placard, .question-count{
  margin-left: 1.25em
}
.circle-img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}
.health-meter {
    background: $tertiary-color;
    height: 1em;
    width: 75%;
    margin: .05em 12.5%;
}